extends ../layout/index


block contenido
    div 
        h1.text-center.text-4xl.my-10.font-extrabold.text-indigo-600 Bienes
            span.font-normal.text-black Raices
        h2.text-center.font-extrabold.text-2xl= page

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="").space-y-5.px-6
                    div    
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-hold Correo electronico:
                        input#email.w-full.px-3.py-2.border.border-gray3.rounded-xl.placeholder.gray-400(type="email" placeholder="ej. usuario@dominio.com" name="correo_usuario")  
                    div    
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-hold Contraseña:
                        input#password.w-full.px-3.py-2.border.border-gray3.rounded-xl.placeholder.gray-400(type="password" placeholder="minimo de 8 caracteres" name="pass_usuario")  
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/createAccount" class="hover:underline decoration-2 hover:decoration-red-600") ¿Aun no tienes cuenta? Registrate
                        a.text-gray-500.text-xs(href="/auth/passwordRecovery" class="hover:underline decoration-2 hover:decoration-red-600") Olvide mi contraseña
                    input(class="w-full bg-indigo-600 hover:bg-red-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Iniciar sesion")